/** importing fonts from google
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,500&display=swap');

@font-face {
    font-family: "Bebas Neue";
    src: url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
/* Set the box-sizing property for the entire page so that
 * width calculations include everything up until the
 * border.
 */
html {
    box-sizing:border-box; /* content-box is default */
}
*, *::before, *::after {
    box-sizing:border-box;
}

body{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    line-height: 1.3em;
    margin: 0;
    font-size:1.3em;
    align-items: center;
    letter-spacing: 0.04em;
}
/** General utility styles */
h2{
    font-size:2em;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:visited{
    color: aqua
}
a:hover{
    color: chocolate
}
a:active{
    color: fuchsia
}
strong{
    color: white;
}
/**Header styles */
/*.working-hours-desc1{
    grid-area: working-hours-desc1;
}
.working-hours-desc2{
    grid-area: working-hours-desc2;
}
.working-hours-desc3{
    grid-area: working-hours-desc3;
}
.working-hours{
    display: grid;
    grid-template-areas: 'grid-area: working-hours-desc1 grid-area: working-hours-desc2 grid-area: working-hours-desc3';
    grid-template-columns: auto auto auto;
    background-color: black;
    color: white;
}
*/
#logo{
    font-size:1.3em;
    margin: 10px 15px 15px 10px;
    grid-area: logo;
    white-space: nowrap;
}

#header-nav {
    grid-area: nav-links;
}
#header{
    background-color: #163756;
    position: relative;
}

.nav-container{
    display: grid;
    grid-template-areas: 'logo nav-links';
    height: 4em;
    align-items:center;
    width: auto;
}
nav ul {
    white-space: nowrap;
}
nav li {
    text-transform: uppercase;
    display: inline-block;
    padding: 0.9em;
    position:relative;
}
.menu-toggle{
    display: none;
    padding:1em;
    margin-right: 10px;
    background-color: #163756;
    border:  solid;
    border-color: #17334d;
    border-radius: 50%;
    color: white;
}
#book-table{
    padding: 10px;
    width: 214px;
    height: 44px;
    background: #F46A06;
    border-radius: 4px;
    text-align: center;
}

/** Main styles */
main{

}

/** Banner styles*/
#banner-image{
    grid-area: banner-image;
}
.banner-image{
    width: 824.41px;
    max-height: 384px;
    left: 238.92px;
    filter: drop-shadow(-5px -10px 4px rgba(0, 0, 0, 0.25));
    object-fit: cover;
    object-position: 100% 0;

}
#banner-text{
    grid-area: banner-text;
}
#banner-text > h2{
    font-size: 50px;
    color: #BFE4FF;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}
#banner{
    text-transform: uppercase;
    display: grid;
    grid-template-areas:
            'banner-text'
            'banner-image';
    height: 600px;
    background-color: #163756;
    text-align: center;
}

/** slogan */
#slogan{
    text-align: center;
}

/** popular-menu */
#popular-menu {
    text-align: center;
}
.popular-menu {
    display: grid;
    grid-template-areas: 'menu-image1 menu-image2 menu-image3';
    gap: 10px;
    height: 350px;
}
.menu-image1{
    grid-area: menu-image1;
}
.menu-image2{
    grid-area: menu-image2;
}
.menu-image3{
    grid-area: menu-image3;
}
.menu-image1 ,.menu-image2 ,.menu-image3{
    border: solid cyan;
    padding: 10px;
}

/**featured patterns */
#featured-patterns{
    text-align: center;
}
.pattern-logo1{
    grid-area: pattern-logo1;
}
.pattern-logo2{
    grid-area: pattern-logo2;
}
.pattern-logo3{
    grid-area: pattern-logo3;
}
.pattern-logo4{
    grid-area: pattern-logo4;
}
.pattern-logo5{
     grid-area: pattern-logo5;
}
.featured-patterns{
    display: grid;
    grid-template-areas: 'pattern-logo1 pattern-logo2 pattern-logo3 pattern-logo4 pattern-logo5';
    gap: 10px;
    justify-content: center;
}

.pattern-logo1, .pattern-logo2, .pattern-logo3 , .pattern-logo4 , .pattern-logo5{
    border: solid cyan;
    height: 60px;
    width: 100px;
}

/**Gallery*/
#gallery{
    text-align: center;
}
#big-image{
    border: solid black;
    grid-area: big-image;
}
.gallery-image1{
    grid-area: gallery-image1;
}
.gallery-image2{
    grid-area: gallery-image2;
}
.gallery-image3{
    grid-area: gallery-image3;
}
.gallery-image4{
    grid-area: gallery-image4;
}
.gallery{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas:
            'big-image gallery-image1 gallery-image2'
            'big-image gallery-image3 gallery-image4';
    gap: 10px;
    height: 400px;
}
.gallery-image1, .gallery-image2 ,.gallery-image3 ,.gallery-image4{
    border: solid black;
}

/**Reservations*/
#reservations{
    text-align: center;
}
.reservation-form{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    border: solid green;

}

/**events*/
#events{
    background-color: darkgrey;
    text-align: center;
    padding: 50px 0 100px 0;
}
.event-image1{
    grid-area: event-image1;
}
.event-image2{
    grid-area: event-image2;
}
.events-images{
    display: grid;
    grid-template-areas: 'event-image1 event-image2';
    grid-template-columns: 320px 320px;
    justify-content: center;
    height: 240px;
    gap: 10px;
}
.event-image1,.event-image2{
    border: solid black;
    width: 100%;
}

/** footer*/
footer{
    width: auto;
    background-color: #3b3838;
}
.footer-section{
    display: grid;
    grid-template-areas: 'extra-links address social-media';
    gap: 10px;
    color: #ffffff;
    padding: 70px 0;
}
#extra-links{
    border: solid blue;
    grid-area: extra-links;
}
#address{
    border: solid blue;
    grid-area: address;
    border-left: black solid 13px;
}
#social-media{
    border: solid white;
    grid-area: social-media;

}
#footer-bar{
    background-color: black;
    height: auto;
    text-align: center;
    padding: 1px;

}
.footer-bottom > li {
    display: inline-block;
    padding: 1em;
    vertical-align:top;
}

@media screen and (max-width: 820px) {
    html, body {
        width:100%;
        margin:0;
    }
    /*menu media queries*/
   .nav-container{
        position: relative;
    }
    .menu-toggle{
        display: block;
        float: right;
    }
    #header-nav .menu-links{
        display: none;
        position: absolute;
        background-color: darkgrey;
        width: 100%;
        left: 0;
        top: calc(100% - 1em + 2px);
    }
    .menu-links li{
        display: block;
    }
    #header-nav .menu-links.show-mobile-menu{
        display: block;
    }
    /*banner media queries*/
    #banner {
        height: 500px;
    }
    .banner-image{
        width: 624.41px;
        max-height: 290px;
        left: 138.92px;
    }
}

@media screen and (max-width: 720px) {
    html, body {
        width:100%;
        margin:0;
    }
    /*banner media queries*/
    #banner{
        height: 300px;
        grid-template-areas:
                'banner-text'
                'banner-image';
    }
    .banner-image{
        width: calc(824.41px /2);
        max-height: calc(384px/2);
        left: calc(238.92px/2);
    }
    #banner-text > h2
    {
        color: #BFE4FF;
        font-weight: 200;
        font-size: 25px;
        line-height: 15px;
    }

    /*featured patterns media queries*/
    .featured-patterns{
        grid-template-areas:
                'pattern-logo1 pattern-logo1 pattern-logo2 pattern-logo2'
                'pattern-logo3 pattern-logo3 pattern-logo4 pattern-logo4'
                'pattern-logo5 pattern-logo5 pattern-logo5 pattern-logo5';
    }
    /*popular menu  media queries*/
    .popular-menu {
        grid-template-areas:
                'menu-image1'
                'menu-image2'
                'menu-image3';
        height:auto;
    }

    /*gallery media queries*/
    .gallery{
        grid-template-areas:
            'big-image big-image'
            'gallery-image1 gallery-image2'
            'gallery-image3 gallery-image4';
        grid-template-columns: auto auto;
        grid-template-rows: 5fr 1.5fr 1.5fr ;
    }
    /*events media queries*/
    .events-images{
        grid-template-areas:
                'event-image1 event-image2';
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    /*footer media queries*/
    .footer-section {
        padding:  0;
        grid-template-areas:
                'extra-links extra-links extra-links'
                'address address address'
                'social-media social-media social-media';
    }
    #address,
    #social-media{
        padding: 40px;
    }

}

@media screen and (max-width: 380px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    /*banner media queries*/
    #banner{
        height: 300px;
    }

    /*featured patterns media queries*/
    .featured-patterns{
        grid-template-areas:
                'pattern-logo1 pattern-logo1 pattern-logo1 pattern-logo1'
                'pattern-logo2 pattern-logo2 pattern-logo2 pattern-logo2'
                'pattern-logo3 pattern-logo3 pattern-logo3 pattern-logo3'
                'pattern-logo4 pattern-logo4 pattern-logo4 pattern-logo4'
                'pattern-logo5 pattern-logo5 pattern-logo5 pattern-logo5';
    }

    /*events media queries*/
    .events-images{
        grid-template-areas:
                'event-image1 event-image1'
                'event-image2 event-image2';
        height: auto;
    }
    /*bottom footer  media queries*/
    .footer-bottom > li {
        padding-left: 15px;
    }

}
