/** importing fonts from google
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Space+Mono&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,500&display=swap');

@font-face {
    font-family: "Bebas Neue";
    src: url("/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
/* Set the box-sizing property for the entire page so that
 * width calculations include everything up until the
 * border.
 */
html {
    box-sizing:border-box; /* content-box is default */
}
*, *::before, *::after {
    box-sizing:border-box;
}

body{
    font-family: 'Bebas Neue', cursive , 'Space Mono', monospace;
    font-style: normal;
    line-height: 1.3em;
    margin: 0;
    font-size:1.3em;
    align-items: center;
    letter-spacing: 0.04em;
}
/** General utility styles */
h2{
    font-size:2em;
    text-transform: uppercase;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:visited{
    color: black
}
a:hover{
    color: chocolate
}
a:active{
    color: fuchsia
}
strong{
    color: white;
}
/**Header styles */
/*.working-hours-desc1{
    grid-area: working-hours-desc1;
}
.working-hours-desc2{
    grid-area: working-hours-desc2;
}
.working-hours-desc3{
    grid-area: working-hours-desc3;
}
.working-hours{
    display: grid;
    grid-template-areas: 'grid-area: working-hours-desc1 grid-area: working-hours-desc2 grid-area: working-hours-desc3';
    grid-template-columns: auto auto auto;
    background-color: black;
    color: white;
}
*/
#logo{
    font-size:1.3em;
    margin: 10px 15px 15px 10px;
    grid-area: logo;
    white-space: nowrap;
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 10px;
}
#logo > a >img{
    height:64px ;
}
#header-nav {
    grid-area: nav-links;
}
#header{
    background-color: #FF674E;
    position: relative;
}

#inner-header{
    background-color: #163756;
    position: relative;
}

.nav-container{
    display: grid;
    grid-template-areas: 'logo nav-links';
    height: 4em;
    align-items:center;
    width: auto;
}
nav ul {
    white-space: nowrap;
}
nav li {
    text-transform: uppercase;
    display: inline-block;
    padding: 0.9em;
    position:relative;
    font-family: 'Bebas Neue';

}
.menu-toggle{
    display: none;
    padding:1em;
    margin-right: 10px;
    background-color: #163756;
    border: solid #17334d;
    border-radius: 50%;
    color: white;

}
#book-table{
    padding: 10px;
    width: 214px;
    height: 44px;
    background: #F46A06;
    border-radius: 4px;
    text-align: center;
}

/** Main styles */
main{

}

/** Banner styles*/

.slides{
    display: none;
    padding:1px;
}
.banner-image{
    grid-area: banner-image;
    height: 620px;
}

.banner-text{
    grid-area: banner-text;
}
.banner-text > h2{
    font-size: 45px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.purple-banner{
    text-transform: uppercase;
    display: grid;
    grid-template-areas:
            'banner-text'
            'banner-image';
    background-color: #C373A3;
    color: #BFE4FF;
    text-align: center;
}
.orange-banner{
    text-transform: uppercase;
    display: grid;
    grid-template-areas:
            'banner-text'
            'banner-image';
    background-color: #FDBA2A;
    text-align: center;
    color: #FFFFFF;
}
.red-banner{
    text-transform: uppercase;
    display: grid;
    grid-template-areas:
            'banner-text'
            'banner-image';
    background-color: #FF674E;
    text-align: center;
    color: #FFFFFF;
}

#inner-banner{
    background-color: #163756;
    height: 300px;
    padding:1px;
}
.blue-banner{
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    background-color: #163756;
}
.blue-banner > div > h2 {
    font-weight: 400;
    font-size: 76px;
    line-height: 79px;
    text-align: center;
    letter-spacing: 0.03em
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/** sub menu */
.submenu{
    position: relative;
    height: 68px;
    background: #BFE4FF;
}
.submenu-links{
    white-space: nowrap;
    margin: 0;
}
.submenu-links > li{
    display: inline-block;
    padding: 0.9em;
}
.submenu-links > li > a > strong{
    color: black;

}
/** slogan */
#slogan{
    text-align: center;
}
#slogan > p{
    padding: 0 245px;
}

.learn-more-btn{
    width: 180px;
    height: 44px;
    background: #FFFFFF;
    box-shadow: 0 0 4.87884px 0.975767px rgba(102, 100, 100, 0.27);
    border-radius: 4px;
    padding: 10px;
}
.angle_right_custom{
 padding-left: 15px;
}
/** popular-menu */
#popular-menu {
    text-align: center;
}
.popular-menu {
    display: grid;
    grid-template-areas: 'menu-image1 menu-image2 menu-image3';
    height: 500px;
}
.menu-image1{
    grid-area: menu-image1;
    margin-right:0;
}
.menu-image2{
    grid-area: menu-image2;
    margin-right:0;
    margin-left: 0;
}
.menu-image3{
    grid-area: menu-image3;
    margin-left: 0;
}
.menu-image1>img ,.menu-image2>img ,.menu-image3>img{
    width: 393px;
    height: 302px;
    border-radius: 8px;

}

/**featured patterns */
#featured-patterns{
    padding: 10px;
    text-align: center;
    background: #F3F6F9;
    height: 278px;
}
.pattern-logo1{
    grid-area: pattern-logo1;
}
.pattern-logo2 {
    grid-area: pattern-logo2;
}
.pattern-logo3{
    grid-area: pattern-logo3;
}
.pattern-logo4{
    grid-area: pattern-logo4;
}

.featured-patterns{
    display: grid;
    grid-template-areas: 'pattern-logo1 pattern-logo2 pattern-logo3 pattern-logo4';
    gap: 120px;
    justify-content: center;
    padding:30px;

}
.pattern-logo1,  .pattern-logo3 , .pattern-logo4 , .pattern-logo2{
    height: 60px;
    color: #F15A24;
    text-transform: uppercase;
}

/**Gallery*/
#gallery{
    text-align: center;
}
#big-image{
    grid-area: big-image;
}
.gallery-image1{
    grid-area: gallery-image1;
}
.gallery-image1> img{
    width: 499px;
    height: 400px;
    border-radius: 6px;

}

#big-image > img{
    width: 710px;
    height: 400px;
    border-radius: 6px;

}

.gallery{
    display: grid;
    grid-template-areas:'big-image gallery-image1';
    justify-content: center;

}

/**Reservations*/
#reservations{
    text-align: center;
}
.reservation-form{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    border: solid green;

}

/**events*/
#events{
    background-color: #F3F6F9;;
    text-align: center;
    padding: 50px 0 100px 0;
}
.event-image1{
    grid-area: event-image1;
    width: 604px;
}
.event-image2{
    grid-area: event-image2;
    width: 604px;
}
.event-image2 > figure > img , .event-image1 >figure > img{
    width: 604px;
    height: 261.83px;
    margin: 0;
    border-radius: 6px;
}
.events-images{
    display: grid;
    grid-template-areas: 'event-image1 event-image2';
    justify-content: center;
    gap: 15px;
}
.event-info{
    position: relative;
    left: 77px;
    color: #FFFFFF;
    bottom: 135px;
    text-align: left;
}

#view-calender{
    padding-top: 45px;
}
.monthly-calender{
    position: relative;
    padding: 15px;
    background-color: #F54901;
    color: #ffffff;
    border-radius: 4px;
}
.monthly-calender:hover{
    color: black
}
/** footer*/
footer{
    width: auto;
    background-color: #000;
    font-size: 0.8em;
    color: #ffffff;
    padding: 70px 100px 8px 100px;

}
.footer-section{
    display: grid;
    grid-template-areas: 'footer-logo extra-links address';
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
    color: #ffffff;
    border-bottom: 1px solid #3E3E3E;
    padding-bottom: 30px;
}
#extra-links{
    text-transform: uppercase;
    grid-area: extra-links;
    line-height: 2em;
    letter-spacing: 0.0em;
}
#extra-links > ul > li >a{
    color: #ffffff;
}
#address{
    grid-area: address;
    font-weight: 150;
}
.footer-working-hours{
    font-weight: bold;
}
#address > form > div > input[type="email"]{
    width: 270px;
    height: 39px;
    background-color: #3E3E3E;
    border-radius: 8px;
    border: thin;
    color: #ffffff;
    margin-right: 37px;
}
#address > form > div > input[type="submit"]{
    width: 140px;
    height: 39px;
    background-color: #E5E5E5;
    border-radius: 8px;
    text-transform: uppercase;
    border: none;
}
#footer-logo{
    grid-area: footer-logo;
}
.payment-options{
    grid-area: payment-options;
    justify-content: center;
}

#footer-misc{
    grid-area: footer-misc;

}
#footer-bar{
    grid-template-areas: 'payment-options footer-misc';
    grid-template-columns: 1fr 1fr;
    display: grid;

}
.footer-misc > li , .payment-options > li{
    display: inline-block;
    padding: 1em;
    vertical-align:top;
    font-weight: 100;
}
.payment-options > li{
    width: 38px;
    height: 30px;
    font-size: 20px;
}

@media screen and (max-width: 820px) {

    html, body {
        overflow-x: hidden;
        width: calc(100% + 1rem);
    }
    /*menu media queries*/
   .nav-container{
        position: relative;
    }
    .menu-toggle{
        display: block;
        float: right;
        padding-right: 25px;
    }
    #header-nav .menu-links{
        display: none;
        position: absolute;
        background-color: darkgrey;
        width: 100%;
        left: 0;
        top: calc(100% - 1em + 2px);
    }
    .menu-links li{
        display: block;
    }
    #header-nav .menu-links.show-mobile-menu{
        display: block;
    }
    /*banner media queries*/
    .banner {
        height: 500px;
    }
    .banner-image{
        width: 624.41px;
        max-height: 290px;
        left: 138.92px;
    }
}

@media screen and (max-width: 720px) {

    /*banner media queries*/
    .banner{
        height: 300px;
        grid-template-areas:
                'banner-text'
                'banner-image';
    }
    .banner-image{
        width: calc(824.41px /2);
        max-height: calc(384px/2);
        left: calc(238.92px/2);
    }
    .banner-text > h2
    {
        color: #BFE4FF;
        font-weight: 200;
        font-size: 25px;
        line-height: 15px;
    }

    /*featured patterns media queries*/
    .featured-patterns{
        grid-template-areas:
                'pattern-logo1 pattern-logo1 pattern-logo2 pattern-logo2'
                'pattern-logo3 pattern-logo3 pattern-logo4 pattern-logo4'
                'pattern-logo5 pattern-logo5 pattern-logo5 pattern-logo5';
    }
    /*popular menu  media queries*/
    .popular-menu {
        grid-template-areas:
                'menu-image1'
                'menu-image2'
                'menu-image3';
        height:auto;
    }

    /*gallery media queries*/
    .gallery{
        grid-template-areas:
            'big-image big-image'
            'gallery-image1 gallery-image2'
            'gallery-image3 gallery-image4';
        grid-template-columns: auto auto;
        grid-template-rows: 5fr 1.5fr 1.5fr ;
    }
    /*events media queries*/
    .events-images{
        grid-template-areas:
                'event-image1 event-image2';
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    /*footer media queries*/
    .footer-section {
        padding:  0;
        grid-template-areas:
                'extra-links extra-links extra-links'
                'address address address'
                'social-media social-media social-media';
    }
    #address,
    #social-media{
        padding: 40px;
    }

}

@media screen and (max-width: 380px) {

    /*banner media queries*/
    .banner{
        height: 300px;
    }
    .banner-text > h2
    {
        color: #BFE4FF;
        font-weight: 200;
        font-size: 18px;
        line-height: 10px;
    }

    /*featured patterns media queries*/
    .featured-patterns{
        grid-template-areas:
                'pattern-logo1 pattern-logo1 pattern-logo1 pattern-logo1'
                'pattern-logo2 pattern-logo2 pattern-logo2 pattern-logo2'
                'pattern-logo3 pattern-logo3 pattern-logo3 pattern-logo3'
                'pattern-logo4 pattern-logo4 pattern-logo4 pattern-logo4'
                'pattern-logo5 pattern-logo5 pattern-logo5 pattern-logo5';
    }

    /*events media queries*/
    .events-images{
        grid-template-areas:
                'event-image1 event-image1'
                'event-image2 event-image2';
        height: auto;
    }
    /*bottom footer  media queries*/
    .footer-bottom > li {
        padding-left: 15px;
    }

}
