/** importing fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

/* Set the box-sizing property for the entire page so that
 * width calculations include everything up until the
 * border.
 */
html {
    box-sizing:border-box; /* content-box is default */
}
*, *::before, *::after {
    box-sizing:border-box;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.3em;
    margin: 0;
    font-size:1.3em;
}
/** General utility styles */
h2{
    font-size:2.5em;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:visited{
    color: aqua
}
a:hover{
    color: chocolate
}
a:active{
    color: fuchsia
}
/**Header styles */
#logo{
    font-size:1.3em;
    margin: 10px 15px 15px 10px;
    grid-area: logo;
}

#header-nav {
    grid-area: nav-links;
}
#header{
    display: grid;
    grid-template-areas: 'logo nav-links';
    height: 4em;
    align-items:center;
    /*padding:1em;*/
}

nav li {
    display: inline-block;
    padding: 1em;
    position:relative;
    vertical-align:top;
}
.menu-toggle{
    display: none;
}

/** Main styles */
main{
    border: solid red;
}

/** Banner styles*/
#banner{
    border: solid blue;
    width: auto;
    height: 620px;
}

/** slogan */
#slogan{
    border: solid green;
}

/** popular-menu */
#popular-menu {
    border: solid purple;
}
.popular-menu {
    display: grid;
    grid-template-areas: 'menu-image1 menu-image2 menu-image3';
    gap: 10px;
    height: 350px;
}
.menu-image1{
    grid-area: menu-image1;
}
.menu-image2{
    grid-area: menu-image2;
}
.menu-image3{
    grid-area: menu-image3;
}
.menu-image1 ,.menu-image2 ,.menu-image3{
    border: solid cyan;
    padding: 10px;

}

/**featured patterns */
#featured-patterns{
    border: solid black;
}
.pattern-logo1{
    grid-area: pattern-logo1;
}
.pattern-logo2{
    grid-area: pattern-logo2;
}
.pattern-logo3{
    grid-area: pattern-logo3;
}
.pattern-logo4{
    grid-area: pattern-logo4;
}
.pattern-logo5{
     grid-area: pattern-logo5;
}
.featured-patterns{
    display: grid;
    grid-template-areas: 'pattern-logo1 pattern-logo2 pattern-logo3 pattern-logo4 pattern-logo5';
    gap: 10px;
    justify-content: center;
}

.pattern-logo1, .pattern-logo2, .pattern-logo3 , .pattern-logo4 , .pattern-logo5{
    border: solid cyan;
    height: 60px;
    width: 100px;
}

/**Gallery*/
#gallery{
    border: solid yellow;
}
#big-image{
    border: solid black;
    grid-area: big-image;
}
.gallery-image1{
    grid-area: gallery-image1;
}
.gallery-image2{
    grid-area: gallery-image2;
}
.gallery-image3{
    grid-area: gallery-image3;
}
.gallery-image4{
    grid-area: gallery-image4;
}
.gallery{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-areas:
            'big-image gallery-image1 gallery-image2'
            'big-image gallery-image3 gallery-image4';
    gap: 10px;
    height: 400px;
}
.gallery-image1, .gallery-image2 ,.gallery-image3 ,.gallery-image4{
    border: solid black;
}

/**Reservations*/
#reservations{
    border: solid red;
    text-align: center;
}
.reservation-form{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    border: solid green;

}

/**events*/
#events{
    border: solid saddlebrown;
    background-color: darkgrey;
    text-align: center;
    padding: 50px 0 100px 0;
}
.event-image1{
    grid-area: event-image1;
}
.event-image2{
    grid-area: event-image2;
}
.events-images{
    display: grid;
    grid-template-areas: 'event-image1 event-image2';
    grid-template-columns: 320px 320px;
    justify-content: center;
    height: 240px;
    gap: 10px;
}
.event-image1,.event-image2{
    border: solid black;
    width: 100%;
}

/** footer*/
footer{
    border: solid aquamarine;
    width: auto;
    background-color: #3b3838;
}
.footer-section{
    display: grid;
    grid-template-areas: 'extra-links address social-media';
    gap: 10px;
    color: #ffffff;
    padding: 70px 0;
}
#extra-links{
    border: solid blue;
    grid-area: extra-links;
}
#address{
    border: solid blue;
    grid-area: address;
}
#social-media{
    border: solid white;
    grid-area: social-media;

}
#footer-bar{
    background-color: black;
    height: auto;
    text-align: center;
    padding: 1px;

}
.footer-bottom > li {
    display: inline-block;
    padding: 1em;
    vertical-align:top;
}

@media screen and (max-width: 720px) {
    /*menu media queries*/
    #header{
        position: relative;
    }
    .menu-toggle{
        display: block;
        float: right;
    }
    #header-nav .menu-links{
        display: none;
        position: absolute;
        background-color: darkgrey;
        width: 100%;
        left: 0;
        top: calc(100% - 1em + 2px);
    }
    .menu-links li{
        display: block;
    }
    #header-nav .menu-links.show-mobile-menu{
        display: block;
    }
    /*banner media queries*/
    #banner{
        height: 400px;
    }
    /*featured patterns media queries*/
    .featured-patterns{
        grid-template-areas:
                'pattern-logo1 pattern-logo1 pattern-logo2 pattern-logo2'
                'pattern-logo3 pattern-logo3 pattern-logo4 pattern-logo4'
                'pattern-logo5 pattern-logo5 pattern-logo5 pattern-logo5';
    }
    /*popular menu  media queries*/
    .popular-menu {
        grid-template-areas:
                'menu-image1'
                'menu-image2'
                'menu-image3';
        height:auto;
    }

    /*gallery media queries*/
    .gallery{
        grid-template-areas:
            'big-image big-image'
            'gallery-image1 gallery-image2'
            'gallery-image3 gallery-image4';
        grid-template-columns: auto auto;
        grid-template-rows: 5fr 1.5fr 1.5fr ;
    }
    /*events media queries*/
    .events-images{
        grid-template-areas:
                'event-image1 event-image2';
        grid-template-columns: 1fr 1fr;
        height: auto;
    }
    /*footer media queries*/
    .footer-section {
        padding:  0;
        grid-template-areas:
                'extra-links extra-links extra-links'
                'address address address'
                'social-media social-media social-media';
    }
    #address,
    #social-media{
        padding: 40px;
    }

}

@media screen and (max-width: 380px) {

    /*banner media queries*/
    #banner{
        height: 300px;
    }

    /*featured patterns media queries*/
    .featured-patterns{
        grid-template-areas:
                'pattern-logo1 pattern-logo1 pattern-logo1 pattern-logo1'
                'pattern-logo2 pattern-logo2 pattern-logo2 pattern-logo2'
                'pattern-logo3 pattern-logo3 pattern-logo3 pattern-logo3'
                'pattern-logo4 pattern-logo4 pattern-logo4 pattern-logo4'
                'pattern-logo5 pattern-logo5 pattern-logo5 pattern-logo5';
    }

    /*events media queries*/
    .events-images{
        grid-template-areas:
                'event-image1 event-image1'
                'event-image2 event-image2';
        height: auto;
    }
    /*bottom footer  media queries*/
    .footer-bottom > li {
        padding-left: 15px;
    }

}
